body {
  *display: flex;
  display: -webkit-flex;
  justify-content: center;*
  align-items: center;
  margin: 0;
  background-color: black;
}

ul {
  width: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#carousel {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  overflow: hidden;
  width: 1000px;
  height: 100vh;
  list-style-type: none;
  text-decoration: none;
 }

img {
  width: 1000px;
  height: 100vh;
  object-fit: cover;
}
